In [1]:
print('hi')

hi

In [22]:
import numpy as np
import pandas as pd
df_trip = pd.read_csv('trip.csv',error_bad_lines = False)
df_station = pd.read_csv('station.csv')
df_weather = pd.read_csv('weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [45]:
##the average trip duration for a borrowed bicycle
avg_duration = df_trip['tripduration'].mean()
avg_duration

1178.2956753399776

In [49]:
##the most common age of a bicycle-sharer?
common_birth_year= df_trip['birthyear'].value_counts().idxmax()
common_age_of_bycycle_sharers = 2020-common_birth_year
common_age_of_bycycle_sharers

33.0

In [9]:
##the average precipitation per month, and the median precipitation.
monthly_based = df_weather['Precipitation_In']
mean = monthly_based.mean()
median = monthly_based.median()
mean

0.10506531204644412

In [11]:
##What’s the average number of bikes at a given bike station?
avg_num_bikes =df_station['install_dockcount'].mean()
avg_num_bikes

16.517241379310345

In [25]:
##When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know

new = df_station[['modification_date','current_dockcount','install_dockcount']].dropna()
new

   modification_date  current_dockcount  install_dockcount
7          11/9/2015                 18                 20
10          8/9/2016                  0                 16
12         2/24/2015                 20                 18
17         2/24/2015                 26                 28
22         3/24/2015                 24                 30
23         3/27/2015                 16                 12
26         3/18/2016                  0                 16
31         2/24/2015                 20                 18
35         3/13/2015                 20                 12
37         2/23/2015                 16                 18
38         11/2/2015                  0                 20
39          3/4/2015                 16                 12
46        10/29/2015                  0                 16
47         2/20/2015                 14                 12
48         2/20/2015                 16                 18
49         2/20/2015                 14                 12
50         2/20/2015                 14                 20

In [26]:
#the hightst trip duration for a borrowed bicycle
df_trip[['tripduration']].head(1)

   tripduration
0       985.935

In [33]:
##the OLDEST age of a bicycle-sharer?
common_age = 2020-df_trip[['birthyear']].head(1)
common_age

   birthyear
0       60.0

In [51]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    assert_equal(avg_duration, 1178.2956753399776)
    assert_equal(common_age_of_bycycle_sharers, 33.0)
    assert_equal(avg_num_bikes, 16.517241379310345)
#     assert_equal(modify_bike_station.iloc[0].lat, 47.660268)
    print("Success!!!")

test()

Success!!!