In [1]:
print('hi')

hi

In [3]:
import numpy as np
import pandas as pd
vs=pd.read_csv('vgsales.csv')
vs

In [48]:

## common publisher
publisher=vs['Publisher'].value_counts().idxmax()
publisher

'Electronic Arts'

In [51]:
## common platform

platform=vs['Platform'].value_counts().idxmax()
platform

'DS'

In [55]:
## common genre

genre=vs['Genre'].value_counts().idxmax()
genre

'Action'

In [59]:
#top 20 highest grossing games
top_20=vs.sort_values('Global_Sales',ascending=False)[['Name','Global_Sales']].head(20)
top_20

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [60]:
## median for north American video games sales
na_median=vs['NA_Sales'].median()
na_median

In [69]:
##top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
std = vs['NA_Sales'].std()
mean = vs['NA_Sales'].mean()
sales = vs['NA_Sales'].iloc[0]
result=(sales-mean)/std
result

50.47898767479108

In [62]:
##The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

Wii_Sales=vs[vs['Platform']=='Wii'].Global_Sales
print(Wii_Sales.mean())
Not_Wii_Sales = vs[vs['Platform']!='Wii' ].Global_Sales
print(not_wii_sales.mean())

0.6994037735849057

NameError: name 'not_wii_sales' is not defined

In [63]:
## lest common  platform
common_publisher = vs.groupby('Platform').count()
common_publisher.sort_values('Name',ascending=False)[['Name']].tail(1)

          Name
Platform
GG           1

In [65]:
#LEAST 10 SEALING  games IN JAPAN
LEAST_10=vs.sort_values('JP_Sales',ascending=False)[['Name','JP_Sales']].tail(10)
# LEAST_10

                                            Name  JP_Sales
7159                    Time Crisis: Crisis Zone       0.0
7161                               Dark Souls II       0.0
7162           Discovery Kids: Dolphin Discovery       0.0
7163   Ben 10 Ultimate Alien: Cosmic Destruction       0.0
7165                    Skies of Arcadia Legends       0.0
7166           Cloudy With a Chance of Meatballs       0.0
7167                                   MotoGP 08       0.0
7168                               Madden NFL 12       0.0
7172                              Ford vs. Chevy       0.0
16597                           Spirits & Spells       0.0

In [67]:
## sort years from new to old 
last_Year = vs.sort_values('Year', ascending=False)
# last_Year

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
8293,8295,Shin Megami Tensei IV: Final,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.00,0.14,0.00,0.17
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [71]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(publisher, 'Electronic Arts')
    assert_equal(platform, 'DS')
    assert_equal(genre, 'Action')
    assert_equal(top_20.iloc[0].Name, 'Wii Sports')
    assert_equal(na_median, 0.08)
    assert_equal(result, 50.47898767479108)

    print("Success!!!")
test()

Success!!!