In [1]:
print('hi')

hi

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [54]:
vs=pd.read_csv('vgsales.csv')
vs
## common publisher
common_publisher = vs.groupby('Publisher').count()
common_publisher
common_publisher.sort_values('Name',ascending=False)[['Name']].head(1)

                 Name
Publisher
Electronic Arts  1351

In [27]:
## common platform

common_platform=vs.groupby('Platform').count()
common_platform.sort_values('Name',ascending=False)[['Name']].head(1)

          Name
Platform
DS        2163
PS2       2161
PS3       1329
Wii       1325
X360      1265

In [26]:
## common genre

common_genre=vs.groupby('Genre').count()
common_genre.sort_values('Name',ascending=False)[['Name']].head(1)

        Name
Genre
Action  3316

In [ ]:
#top 20 highest grossing games
top_20=vs.sort_values('Global_Sales',ascending=False)[['Name','Global_Sales']].head(20)
top_20

In [45]:
## median for north American video games sales
na_median = vs['NA_Sales'].median()
na_median

0.08

In [51]:
##top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
std = vs['NA_Sales'].std()
mean = vs['NA_Sales'].mean()
sales = vs['NA_Sales'].iloc[0]
(sales-mean)/std

50.47898767479108

In [60]:
##The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

Wii_Sales = vs[vs['Platform']=='Wii'].Global_Sales
print(Wii_Sales.mean())
Not_Wii_Sales = vs[vs['Platform']!='Wii' ].Global_Sales
print(not_wii_sales.mean())

0.6994037735849057
0.5233896418516336

In [59]:
## lest common  platform
common_publisher = vs.groupby('Platform').count()
common_publisher.sort_values('Name',ascending=False)[['Name']].tail(1)

          Name
Platform
GG           1

In [65]:
#LEAST 10 SEALING  games IN JAPAN
LEAST_10=vs.sort_values('JP_Sales',ascending=False)[['Name','JP_Sales']].tail(10)
LEAST_10

                                            Name  JP_Sales
7159                    Time Crisis: Crisis Zone       0.0
7161                               Dark Souls II       0.0
7162           Discovery Kids: Dolphin Discovery       0.0
7163   Ben 10 Ultimate Alien: Cosmic Destruction       0.0
7165                    Skies of Arcadia Legends       0.0
7166           Cloudy With a Chance of Meatballs       0.0
7167                                   MotoGP 08       0.0
7168                               Madden NFL 12       0.0
7172                              Ford vs. Chevy       0.0
16597                           Spirits & Spells       0.0